body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/017/389/812/non_2x/black-background-template-slide-design-free-photo.jpg"); /* URL de tu imagen */
  background-size: cover;   /* La imagen se ajusta a la pantalla */
  background-repeat: no-repeat; /* Evita que se repita */
  background-attachment: fixed; /* Hace que el fondo no se mueva al hacer scroll */
  margin: 0;
  padding: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}
.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: #000000;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}
.card p {
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
}
.card a {
  display: block;
  margin: 10px;
  padding: 8px 0;
  background: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.card a:hover {
  background: #0056b3;
}